.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 15px;
    padding: 20px;
}

.container-categories{
    margin-top: 40px;
    width: 100%;
    height: fit-content;
}

.link-page{
    font-weight: 600;
    line-height: 150%;
    color: #0c0e10;
    margin: 10px 20px;
    border-radius: 5px;
    padding-left: 40px;
    background: rgba(255, 165, 0, 0.3);
}

    .link-page a {
        text-decoration: none;
        color: black;
    }
    
        .link-page a:hover{
            color: rgba(255,165,0,1);
        }
        
.card-country{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0,0,0,0.0);
    transition: background 0.5s ease-in-out;
}

.card-title{
    font-size: 1.2rem;
    color: #fff;
    margin: 0;
    padding: 10px;
    background: rgba(255, 165, 0, 0.3);
    width: 100%;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.card-description{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.card-country:hover .card-image{
    transform: scale(1.1);
}

.card-country:hover .card-overlay{
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
}

.card-country:hover .card-title{
    transform: translateY(-50%);
    background: none;
}

.card-country:hover .card-description{
    display: none;
}


/*                  */


.container-list-products{
    width: 100%;
}

.container-filter-products{
    margin-top: 30px;
}

.container-filter-products{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.filter {
    flex:1;
    background-color: #ffffff;
    margin: 0 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    height: fit-content;
}

.container-product{
    flex:3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    flex-direction: column;
    gap: 20px;
}

.product-item{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: relative;
}

.item-product-image{
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.item-info{
    flex-grow: 2;
}
.item-info h2{
    margin: 5px 0;
    font-size: 18px;
    color: #333333;
}

table{
    margin-left: auto;
    border-collapse: collapse;
    font-size: 16px;
    color: #333333;
}
table td{
    padding: 5px 10px;
    text-align: right;
}

.sorts{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


/*                     */
.filter-container .title{
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
}

.price-filter,
.brand-type{
    margin: 30px 15px;
}

.price-filter input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #cccccc;
    border-radius: 5px;
    outline: none;
}

.price-filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffa500;
    border-radius: 50%;
    cursor: pointer;
}

.price-filter input[type="range"]::-moz-range-thumb{
    width: 20px;
    height: 20px;
    background: #ffa500;
    border-radius: 50%;
    cursor: pointer;
}

.price-filter input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffa500;
    border-radius: 50%;
    cursor: pointer;
}

.brand-type div{
    margin-bottom: 10px;
}

.custom-checkbox{
    display: none;
}

.custom-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
}

.custom-checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.custom-checkbox:checked + label::after{
    content: "✓";
    position: absolute;
    left: 5px;
    color: orange;
    font-size: 14px;
    font-weight: bold;
}

.price-filter div{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255,165,0,0.2);
    border-radius: 4px;
    margin: 10px 10px;
    background: rgba(255,165, 0, 0.2);
    gap: 10px;
}

.price-filter span {
    font-size: 14px;
    font-weight: bold;
}

#adult-price-values, #child-price-values{
    font-weight: bold;
    color: #6b5b46;
    position: relative;
}

.filter-button{
    display: flex;
    justify-content: center;
}
    .filter-button button{
        padding: 15px;
        background-color: #ffa500;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
        margin: 20px;
    }
    
    .filter-button button:hover{
        background-color: #3d178c;
    }
    
    

    /*                 */

.sorts{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.sorts label{
    font-size: 16px;
    color: #333;
}

.sorts select {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}