@{
    ViewData["Title"] = "О Нас";
}

<div class="about-container">
    <h1>О нас</h1>
    <div class="aboutUsContainer">
        <img src="/img/garden.png" alt="Наш сад" class="about-image">
        <div class="text">
            <p>Добро пожаловать в GMarket! Мы — команда энтузиастов, которые страстно увлечены садоводством и всем, что связано с растениями. Наша миссия — помочь вам найти все необходимое для вашего сада, от семян до удобрений и садовых инструментов.</p>
            <p>Мы гордимся высоким качеством товаров и заботимся о том, чтобы вы получили лучший опыт покупок. На нашем сайте вы найдете обширный каталог товаров для ухода за растениями, а также полезные советы и поддержку, чтобы ваш сад процветал!</p>
            <p>Присоединяйтесь к нашему сообществу и делитесь своим опытом! Пусть ваши растения будут сильными и здоровыми, а урожай — богатым!</p>
        </div>
    </div>
</div>

<section id="ourExclusives">
    <div id="cCarousel">
        <div class="arrow" id="prev"><i class="fa fa-chevron-left"></i></div>
        <div class="arrow" id="next"><i class="fa fa-chevron-right"></i></div>

        <h1>Наши преимущества!</h1>
        <div id="carousel-vp">
            <div id="cCarousel-inner">

                <article class="cCarousel-item">
                    <img src="/img/card1.jpeg" alt="">
                    <div class="infos">
                        <p>Полезные статьи и форум для садоводов. Советы по уходу, обмен опытом и ответы на ваши вопросы!</p>
                    </div>
                </article>

                <article class="cCarousel-item">
                    <img src="/img/card2.jpg" alt="">
                    <div class="infos">
                        <p>Качественные семена для вашего сада. Выберите из широкого ассортимента для богатого урожая!</p>
                    </div>
                </article>

                <article class="cCarousel-item">
                    <img src="/img/card3.jpg" alt="">
                    <div class="infos">
                        <p>Подкормка для ваших растений! Высококачественные удобрения для любого этапа роста.</p>
                    </div>
                </article>

                <article class="cCarousel-item">
                    <img src="/img/card4.jpg" alt="">
                    <div class="infos">
                        <p>Профессиональные инструменты для сада. Удобство и долговечность в каждой детали.</p>
                    </div>
                </article>

                <article class="cCarousel-item">
                    <img src="/img/card5.jpg" alt="">
                    <div class="infos">
                        <p>Наши опытные консультанты всегда готовы помочь! Профессиональные советы по уходу за растениями для вашего идеального сада.</p>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>

<div id="contacts" class="container-section">
    <div class="info-sections">
        <h1>Написать сообщение</h1>
        <p>Вы можете написать нам на почту здесь</p>
    </div>
    
    <div class="block-message">
        <textarea class="text" id="message"></textarea>
        <button class="button" type="submit" id="btn-sendmessage">Отправить</button>
    </div>
</div>


